/*Utility Classes*/

.fa-gradient:hover {
  background: -webkit-gradient(linear, left top, left bottom, from(#f00), to(yellow));
  background-clip: border-box;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 60px;
  position: relative;
  border-radius: 90%;
}

.border-red:hover {
  /*border: solid 2px red;*/
  background-color: red;
}

.gradient:hover {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 0, 0, 1)), to(rgba(255, 255, 0, 1)));
  background-clip: border-box;
}

.gradient-border:hover {
  background-image: linear-gradient(45deg, red, yellow);
}

/*Header Animation*/


/*Video Banner*/

header {
  position: relative;
  background-color: black;
  height: 75vh;
  min-height: 25rem;
  width: 100%;
  overflow: hidden;
}

header video {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: 0;
  -ms-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}

header .container {
  position: relative;
  z-index: 2;
}

header .overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: black;
  opacity: 0.5;
  z-index: 1;
}

@media (pointer: coarse) and (hover: none) {
  header {
    background: url('https://source.unsplash.com/XT5OInaElMw/1600x900') black no-repeat center center scroll;
  }

  header video {
    display: none;
  }
}

/*Skills Section*/
.skills-icon {
  background-image: linear-gradient((45deg, red, yellow));
  text-align: center;
  font-size: 40px;
  padding: 20px;
  border: solid, 5px, black;
  color: blue;
}
/*Photography Section*/
.gallery-block{
  padding-bottom: 60px;
  padding-top: 60px;
}

.gallery-block .heading{
    margin-bottom: 50px;
    text-align: center;
}

.gallery-block .heading h2{
    font-weight: bold;
    font-size: 1.4rem;
    text-transform: uppercase;
}

.gallery-block.compact-gallery .item{
  overflow: hidden;
  margin-bottom: 0;
  background: black;
  opacity: 1;
}

.gallery-block.compact-gallery .item .image{
  transition: 0.8s ease;
  display:inline-flex;
}

.gallery-block.compact-gallery .item .info{
  position: relative;
    display: inline-block;
}

.gallery-block.compact-gallery .item .description{
  display: grid;
    position: absolute;
    bottom: 0;
    left: 0;
    color: #fff;
    padding: 10px;
    font-size: 17px;
    line-height: 18px;
    width: 100%;
    padding-top: 15px;
    padding-bottom: 15px;
    opacity: 1;
    color: #fff;
    transition: 0.8s ease;
    text-align: center;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
    background: linear-gradient(to bottom, transparent, rgba(0, 0, 0, 0.39));
}

.gallery-block.compact-gallery .item .description .description-heading{
  font-size: 1em;
  font-weight: bold;
}

.gallery-block.compact-gallery .item .description .description-body{
  font-size: 0.8em;
  margin-top: 10px;
  font-weight: 300;
}

@media (min-width: 576px) {

  .gallery-block.compact-gallery .item .description {
    opacity: 0; 
  }

  .gallery-block.compact-gallery .item a:hover .description {
    opacity: 1; 
  } 

  .gallery-block .zoom-on-hover:hover .image {
    transform: scale(1.3);
    opacity: 0.7; 
  }
}

/*Contact*/
#contact-me {
  max-width: 100%;
  height: 600px; 
  color: #ffffff;
}
#contact-me h1 {
  margin: 20px;
}
.contact-me-img{
  padding:0;
  background-image: url(https://res.cloudinary.com/zacmorton-com/image/upload/v1558643295/zacMorton.com/Flowers/purpleflowers_jrpik9.jpg);
  width: 100%;
}